*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

html{
     font-size: 62.5%;
}
img {
     width: 100%;
     height: auto;
 }
body{
     font-size: 1.6rem;
     line-height: 1.6;
     // font-family: 'Montserrat', sans-serif;
     font-family: 'Mulish', sans-serif;
}

h2{
     font-weight: 700;
     font-size: 4.4rem;
     line-height: 4rem;
     margin-bottom: .8rem;
}
section{
     padding-top: 10rem !important;
     padding-bottom: 10rem !important;

     @include respond (desktop){
          padding-top: 12rem !important;
          padding-bottom: 12rem !important;
     }
}
.grid3 {
     display: grid;
     grid-template-columns: 1fr;
     grid-row-gap: 4rem;
     row-gap: 14rem;
}

.dark{
     background-color: #fafafa;
}

p{
     line-height: 2.8rem;
     font-size: 1.6rem;
     font-family: 'Mulish', sans-serif;
     @include respond(desktop){
          font-size: 1.8rem;
     }
}
li{
     @include respond(desktop){
          font-size: 1.8rem;
     } 
}
 .hide-on-mobile{
      display: none;
      @include respond(desktop){
           display: block;
      }
 }
 .container-large{
     padding:10rem 2rem;
      @include respond(desktop){
      padding:10rem 25rem
 }
}
.container-large-m{
     padding:10rem 2rem;
      @include respond(desktop){
      padding:10rem 15rem
 }
}