*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

html{
     font-size: 62.5%;
}

body{
     font-size: 1.6rem;
     line-height: 1.6;
     font-family: 'Montserrat', sans-serif;
}

section{
     padding-top: 12rem !important;
     padding-bottom: 12rem !important;
}

.dark{
     background-color: #fafafa;
}

p{
     line-height: 2.8rem;
     font-family: 'Montserrat', sans-serif;
}