
.primary__header{
     font-size: 4rem;
     line-height: 1.2;
     color: $yellow;
     font-family: 'Open Sans', sans-serif;

     @include respond(desktop){
          font-size: 6rem;
          line-height: 1.2;
     }
     
}

.primary__text{
     font-size: 2.5rem;
     line-height: 1.2;
     color: lighten($color: $black, $amount: 1);
     font-family: 'Noto Sans Display','Open Sans', sans-serif;

     @include respond(desktop){
          font-size: 4rem;
          line-height: 1.2;
     }
     
}

.tertiary-header{
     font-size: 1.6rem;
     text-transform: uppercase;
     padding-bottom: 1rem;
     color: rgba(64,64,64, 0.9);
     text-align: center;

     @include respond(desktop){
          text-align: left;
     }
}