.title{
     font-size: 3.2rem;
     line-height: 5rem;
     color: $yellow;
     font-family: 'Lato', 'Open Sans', sans-serif;

     @include respond(phone-m){
          font-size: 3.3rem;
     }
     @include respond(tab){
          font-size: 5rem;
          line-height: 7rem;
     }
     @include respond(desktop){
          font-size:5rem;
          font-weight: 800;
          line-height: 1.2;
     }   
}

.primary-header{
     color: $yellow;
     text-transform: uppercase;
     @include respond(desktop){
          // font-weight: 800;
          // line-height: 1.2;
     }   
}

h2 span{
     color: $primary-color-dark;
}

.primary__text{
     font-size: 2.5rem;
     line-height: 1.2;
     color: lighten($color: $black, $amount: 1);
     text-align: center;

     @include respond(phone-m){
          font-size: 3.1rem;
     }
     @include respond(tab){
          font-size: 4rem;
     }

     @include respond(desktop){
          font-size: 3.5rem;
          line-height: 4.4rem;
          font-weight: 700;
     }   
}
.tertiary_text{
     font-family: 'Mulish', sans-serif;
     font-size: 2rem;
     font-weight: 700;
     line-height: 2.5rem;
     margin-bottom: .8rem;
     color: rgb(15, 16, 27);

     @include respond(phone-m){
          font-size: 2.4rem;
          line-height: 3.2rem;
     }
}
.primary__text2{

     font-size: 2.5rem;
     line-height: 1.2;

     @include respond(phone-m){
          font-size: 3.1rem;
     }
     @include respond(tab){
          font-size: 4rem;
     }
     @include respond(desktop){
          line-height: 4.4rem;     
     }      
}
.tertiary-header{
     font-size: 1.6rem;
     text-transform: uppercase;
     padding-bottom: 1rem;
     color: rgba(64,64,64, 0.9);
     text-align: center;

     @include respond(desktop){
          text-align: left;
     }
}
.block_on_desktop {
     display: inline !important    ;
     @include respond(desktop){
          display: block !important;
          color: #000D0E;
     }
 }

.why-section .primary__text{
     text-align: center;

     @include respond(desktop){
          text-align: left;
          padding-bottom: 6rem;
          padding-top: 5rem;
     }
}
