/* UTILITIES CLASS */
.container{
     padding: $container-mobile;

     @include respond(tab){
          padding:0 5rem;
     }
     @include respond(tab-land){
          padding: 0 4rem;
     }
     @include respond(desktop){
          padding: $container
     }
}

.t-center{
     text-align: center;
}
.icon-color{
     color: $black;
}
.bc-primary-color{
     background-color: $primary-color;
     color: $white;
}
.t-justify{
     text-align: justify;
}

.flex{
     display: flex;
}

.j-c-sb{
     justify-content: space-between;
}
.white{
     color:$white;
}
.perfect-center{
     justify-content: center !important;
     align-items: center;
}

.a-i-center{
     align-items: center;
}

.bold{
     font-weight: bold;
}
.p{
      //Padding Bottom Utilities
     &b-s{
          padding-bottom: 2rem;
     }
     &b-m{
          padding-bottom: 4rem;
     }
     &b-l{
          padding-bottom: 6rem;
     }

     //Padding Top Utilities
     &t-s{
          padding-top: 2rem;
     }
     &t-m{
          padding-top: 4rem;
     }
     &t-l{
          padding-top: 6rem;
     }

     //Left and Right
     
}

//Margin utilities Class

.m{
     &b-s{
          margin-bottom: 2rem;
     }
     &b-m{
          margin-bottom: 4rem;   
     }
     &b-l{
          margin-bottom: 6rem;
     }

     &t-s{
          margin-top: 2rem;
     }
     &t-m{
          margin-top: 4rem;
     }
     &t-l{
          margin-top: 6rem;
     }
}

.font2rem{
     font-size:2rem
}

.clip-bg{
     -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
     clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
     padding-bottom: 17rem!important;
}

.uppercase{
     text-transform: uppercase;
}

.t-center-mobile{
     text-align: center;
     @include respond(desktop){
          text-align: left;
     }
}