.main-color{
    color: $main-color;

    &__bg{
        color: $white;
        background-color: $main-color;
    }
}

.courses{
    &-section{
        padding-top:0!important;

        @include respond(desktop){
            padding-top:5rem!important;
        }
    }
        & .course{
            &_box{
                margin-top: 9rem;
            }
            &_title{
                padding-bottom: 2rem;
                font-size:3rem
            }
        }
        
}


.courses{
    display: grid;
    grid-template-columns: 1fr;

    @include respond(desktop){
         grid-template-columns: 1fr 1fr;
         column-gap: 13rem;
    }
}

.p-xy{
    padding:1rem
}

.course_heading{
    font-size: 2.8rem;
    line-height:1.2;
    @include respond(desktop){ 
    font-size: 4rem;
    font-weight: bolder;
    line-height: 5.5rem;
    }
}
.course_heading2{
    font-size: 1.6rem;
    line-height:1.5;
    text-align: left;
    text-transform: uppercase;
  
    @include respond(desktop){ 
    font-size: 3rem;
    font-weight: bolder;
    line-height: 4rem;
    }
}
.mb-s >li{
    padding: .4rem 0;
}
.course_sub-heading{
    text-transform: uppercase;
    font-size: 1.4rem;

    @include respond(tab){
        font-size:1.6rem
    }
    @include respond(desktop){
        font-size:2rem
    }
}