.fas{
     display: flex;
     justify-content: center;
     @include respond(tab-land){
          justify-content: flex-start;
     }
}

// .light{
//      padding: 8rem 4rem;
//      @include respond(tab-land){
//           padding: 8rem 10rem;
//      }
// }

.assurance {
     padding-left: 3rem;
     padding-right: 3rem;
     padding-top: 7rem !important;
     padding-bottom: 7rem !important;

     &__box{
          margin-bottom: 7rem;
          @include respond(desktop){
               padding: 1rem 5rem;
          }
          
          &--heading{
               padding-bottom: 2rem;
               padding-top: 1rem;
          }
     }
 }

 .best{
      width: 85vw;
      height: auto;

      @include respond(desktop){
          width: 40vw;
     }
 }

 .inline{
      width: 8vh;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include respond(tab-land){
          display: inline;
          width: 10vh; 
      }
 }

 .text-section {
     background: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     & .tertiary-header{
          color: $primary-color-dark;
     }
     @include respond(desktop){
          padding: 4rem 2rem;
     }
     &__courses{
          border-radius: 2rem;
          height:27rem;

          &:hover{
               background-color: $yellow;
               color: $white;
               transition: all 1s;
               transform: translate(-1rem, .5rem);
          }
     
     }
 }

 /* .testimonial{
      &__userRole{
           color: #ca8f20;
      }
     &_text{
          text-align: center;
          line-height: 2.3rem;
     }
     &__box{
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

     &--img{
          height: 15rem;
          width: auto;
          border-radius: 50%;
          background-color: #490808;
          position: absolute;
          top: -7rem;
     }

     &--text{
          background-color: #232EFF;
          color: #f3f3f3;
          font-size: 1.4rem;
          padding: 9rem 1rem 2rem 1rem;
          border-radius: 3rem;
          width: 20.5vw;
     }
}
 } */

 .application{
      position: relative;
      background-image: url('/src/images/students.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
 }
.doKnowImg{
     width: 100%;
     height: auto;
     display: none;

     @include respond(desktop){
          display: block;
     }
}
 .text{
      position: relative;
      z-index: 100
 }

 .grid3.a-i-center {
     row-gap: 8rem !important;
 }