.fas{
     display: flex;
     justify-content: center;
     @include respond(tab-land){
          justify-content: flex-start;
     }
}

// .light{
//      padding: 8rem 4rem;
//      @include respond(tab-land){
//           padding: 8rem 10rem;
//      }
// }

.assurance {
     padding-left: 3rem;
     padding-right: 3rem;
     padding-top: 7rem !important;
     padding-bottom: 7rem !important;

     &__box{
          margin-bottom: 7rem;
          @include respond(desktop){
               padding: 1rem 5rem;
          }
          
          &--heading{
               padding-bottom: 2rem;
               padding-top: 1rem;
          }
     }
 }

 .best{
      width: 90vw;
      height: auto;

      @include respond(desktop){
          width: 40vw;
     }
 }

 .inline{
      width: 10vh;
      height: auto;
 }