// .fas{
//      display: flex;
//      justify-content: center;
//      @include respond(tab-land){
//           justify-content: flex-start;
//      }
// }

// .light{
//      padding: 8rem 4rem;
//      @include respond(tab-land){
//           padding: 8rem 10rem;
//      }
// }

.assurance {
     padding-left: 3rem;
     padding-right: 3rem;
     padding-top: 7rem !important;
     padding-bottom: 7rem !important;

     &__box{
          margin-bottom: 7rem;
          @include respond(desktop){
               padding: 1rem 5rem;
          }
          
          &--heading{
               padding-bottom: 2rem;
               padding-top: 1rem;
          }
     }
 }

 .best{
      width: 85vw;
      height: auto;

      @include respond(desktop){
          width: 40vw;
     }
 }

 .inline{
      width: 8vh;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include respond(tab-land){
          display: inline;
          width: 10vh; 
      }
 }

 .text-section {
     background: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     & .tertiary-header{
          color: $primary-color-dark;
     }
     @include respond(desktop){
          padding: 4rem 2rem;
     }
     &__courses{
          border-radius: 2rem;
          height:25rem;
          box-shadow: 2px 3px 1px rgb(46, 128, 153);

          &:nth-child(2),
          &:first-child{
               height: 40rem;
               padding: .5rem 2rem;

               @include respond (desktop){
                    height: 30rem;
               }
          }
          &:nth-child(3),
          &:last-child{
               text-align: center;
               height: 30rem;
               padding: .5rem 2rem;
          }
          &:last-child p{
               text-align: center;
          }
          &:hover{
               background-color: $white;
               color: $black;
               transition: all 2s ease-out;
               transform: translate(-1rem, .5rem);
          }
     
     }
 }


.doKnowImg{
     width: 100%;
     height: auto;
     display: none;

     @include respond(desktop){
          display: block;
          width: 70%;
     }
}
 .text{
      position: relative;
      z-index: 100
 }

 .grid3.a-i-center {
     row-gap: 8rem !important;
 }
 .primary-icon{
      margin-right: .2rem;
      font-size: 1.6rem;
      width: 7.2rem;
 }
 .apply-now{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      background-image: url('./images/apply-now.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 10rem 0 5rem 0rem;
      padding: 5rem 2rem;
      
      text-align: center;

      & h2{
           font-size: 3rem;
      }
      & p{
           padding-top: 1rem;
           line-height: 1.2;
      }

      @include respond(desktop){
          height: 30vh;
          margin: 20rem 0 5rem 0rem;
     }
 }
 .z-indez-high{
      z-index: 200;
 }