.btn{
     font-size: 1.4rem;
     text-decoration: none;
     outline: none;
     margin: 0;
     border: none;
     padding: 1.25rem 3.5rem;

&_red{
     background-color:$red;
     color: $white;
}
&__primary{
     color: $white;
     background-color: $primary-color;
}

&__secondary{
     color: $primary-color;
     background-color: $white;
     padding:1.5rem 3.5rem;
     font-size: 1.8rem;
}
}