.btn{
     font-size: 1.4rem;
     text-decoration: none;
     border: 1px solid $primary-color-light;
     padding: 1.2rem 1.5rem;
     outline: none;
}

.btn_red{
     background-color:$red;
     color: $white;
     border: none;
}
.regist{
     color: $white;
     padding: 1.25rem 3.5rem;
     background-color: $primary-color;
     color: $white;
     margin: 0;
     border: none;

}