.btn{
     font-size: 1.3rem;
     text-decoration: none;
     outline: none;
     border: none;
     padding: 1.25rem 3.5rem;

&__link{
     display: inline-block;
     padding: .7rem 1.5rem;
     margin-top: 2rem;
     text-decoration: none;
     
          &__red{
               background-color: $primary-color-dark;
               color: $white;
               transition: 1s all;
               
               &:hover{
                    background-color: lighten($color: #123277, $amount: 0);
               }
          }     
}
&__red{
     background-color:$red;
     color: $white;
}
&__primary{
     color: $white;
     background-color: $primary-color;
     &:hover{
          background-color: $primary-color-dark;
     }
}

&__white{
     color: $primary-color;
     background-color: $white;
     padding:1.5rem 3.5rem;
     font-size: 1.8rem;
}

&__yellow{
     color: $black;
     background-color: $yellow;
     padding:1.5rem 3.5rem;
     font-size: 1.8rem;
     font-weight: 700;
     border-radius: 6.8rem;
     
     &:hover{
          background-color: rgb(241, 184, 38);
     }
}
}