.project-box{
    
    &__img{
        border-radius: 5%;
        object-fit: fill;
    }

    &__desc{
        font-size: 1.2rem;
        // padding: 1rem;
        @include respond(tab-land){
            font-size: 1.6rem;
        }  
    }
}


