.slideshow-main{
    height: 100vh;
    background-image:url('/src/images/slideshow-mini.jpg');
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    padding-top: 5rem !important;

     @include respond (phone-m){
          height: 95vh;
     }
    @include respond (desktop){
          background-image:url('/src/images/bg.svg');
    }

}

.slideshow{
    background-image: url('./images/bubbles.png');
    padding: 0rem 2rem;
    background-repeat: no-repeat;
    @include respond(tab-land){
         padding: 0rem 5rem;
    }
    @include respond(desktop){
         padding: 0rem 12rem;
         background-position: right 50%;
    }
    &__title{
     font-size: 3rem;
     font-weight: 600;
     line-height: 1.2;
     padding-top: 13rem;
     padding-bottom: 2rem;
     color: $white;

     @include respond(phone-m){
          font-size: 3.9rem;
     }

     @include respond(tab){
          font-size: 5rem;
     }

     @include respond(desktop){
          font-family: 'Mulish', sans-serif;
          font-size: 4.5rem;
          padding-top: 0rem;
          line-height: 1.2;
          padding-bottom: 0rem;
          color: $black;
     }
     
}

    &__desc{
         font-size: 1.6rem;
         font-weight: normal !important;
         line-height: 1.5;
         font-family: 'Mulish', sans-serif;
         color: $white;

         @include respond(phone-m){
               font-size: 1.9rem;
               line-height: 1.4;
         }

         @include respond(tab){
          font-size: 2.5rem;
     }
         @include respond(desktop){
         font-size: 2rem;
          color: $black;
         padding-top: 2rem;
         }
    }


     &__bar{
          background: linear-gradient(
              -45deg
              , $tertiary-color, $white, $dark-green, $yellow);
         /* background: linear-gradient(
              -45deg
              , #EE7752, #E73C7E, #23A6D5, #23D5AB); */
                  background-size: 400% 400%;
                  animation: gradbar 15s ease infinite;
         // background-color: $black;
         color: $white;
         padding: 1rem;
         @include respond(desktop){
         margin-top: 0;
         }
     }

     &__right{
          background-position: center;
          background-repeat: no-repeat;
          width: 65vw;
          @include respond(desktop){
               width: 40vw;
          }
     }

}

.right{
     display: flex;
    

    @include respond(desktop){
          justify-content: flex-end;
          align-items: center;
     }
}