.slideshow-short{
    background-image: url('/src/images/slideshow-mini.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center top;
    height: 30vh;
    color: $white;
    padding: 8rem 3.5rem;
    line-height: 3.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond(desktop){
        background-size: cover;
        height: 55vh;
        padding: 8rem 13rem;

    }

    &__title{
        font-size: 3.2rem;
        color: $white;
        font-weight: bolder;
        text-transform: uppercase;

        @include respond(desktop){
            font-size: 5rem;
        }
    }

    &__subTitle{
        font-size: 1.4rem;
        @include respond(desktop){
            font-size: 1.7rem;
            padding-top: 1rem;
        }
    }

    & .yellow{
        color: $yellow !important;
    }
}

.text-content{
    @include respond(desktop){
        // padding: 0.5rem 5rem;
    }
}

.yellow{
    color: $yellow;
}