.footer{
    background-color: $black;
    text-align: center;
    padding: 2rem 3rem;
    color: $white;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
}


.subFooter{
    background-color: #19202A;
    color: $white;
    padding: 6rem 2rem !important;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    font-size: 1.3rem;

        @include respond(tab){
            font-size: 1.6rem;
        }
    &__heading{
        padding-bottom: .7rem;
        font-size: 1.3rem;
        @include respond(tab-land){
            padding-bottom: 2rem;
            font-size: 1.6rem;
        }
    }
    &__list{
        list-style-type: none;

        & i{padding-right: 1rem;}
    }

    &__link{
        text-decoration: none;
        color:$white;
    }

    & .followUs, .contactUs
    {
        justify-self: flex-start;
        padding: 0 2rem;

        @include respond(tab){
            padding: 0 5rem;
        }

        @include respond(desktop){
            justify-self: center;
            padding: 0;
        }
        
     @include respond(tab-land){
        justify-self: center;
     }

    }
}