.footer{
    background-color: $black;
    text-align: center;
    padding: 2rem 3rem;
    color: $white;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
}


.subFooter{
    background-color: #19202A;
    color: $white;
    padding: 6rem 2rem;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;

        @include respond(tab){
            font-size: 1.5rem;
        }
        @include respond(desktop){
            padding: 5rem 10rem !important;
        }
    &__heading{
        padding-bottom: .7rem;
        font-size: 1.1rem;
        @include respond(tab-land){
            padding-bottom: 1rem;
            font-size: 1.3rem;
        }
    }
    &__list{
        list-style-type: none;
        font-size: 1.2rem;
        @include respond(desktop){
            font-size: 1.5rem;
       }

        & i{padding-right: 1rem;}
    }

    &__link{
        text-decoration: none;
        color:$white;
        transition:all 1s ease;

        &:hover{
            color:#f66666;
        }
    }

    & .followUs, .contactUs, .about
    {
        justify-self: flex-start;
        padding: 0 1rem;

        @include respond(tab){
            padding: 0 2rem;
        }

        @include respond(desktop){
            justify-self: center;
            padding: 0 1rem;
        }
        
     @include respond(tab-land){
        justify-self: center;
     }

    }
}

.about-us{
    line-height: 1.54;
    font-size: 1.2rem!important ;
    @include respond(desktop){
        font-size: 1.5rem !important;
   }
    
}

.about{
    @include respond(tab){
    order: -1;
    width: 100%;
}
@include respond(desktop){
    order: 4;
    width: 100%;
}
}
.followUs{
    @include respond(tab){
        order: 3;
    } 
}