.grid2{
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 4rem;
     

     @include respond(tab){
          grid-template-columns: repeat(2, 1fr);
          column-gap: 9rem;
     }
}
.grid21{
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 4rem;
     

     @include respond(desktop){
          grid-template-columns: 2fr 1fr;
          column-gap: 2rem;
          justify-content: center;
          text-align: left;
     }
}
.grid1-2{
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 4rem;
     

     @include respond(desktop){
          grid-template-columns: 1fr 3fr;
          column-gap: 2rem;
          justify-content: center;
          text-align: left;
     }
}

.grid3{
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 2rem;

    &.blog__grid3{
          display: grid;
          row-gap: 8rem!important;
     }
     @include respond(tab){
          grid-template-columns: repeat(2, 1fr);
          column-gap: 6rem;
          row-gap: 3rem;
     }
     @include respond(desktop){
          grid-template-columns: repeat(3, 1fr);
          column-gap: 6rem;
          row-gap: 3rem;
     }
     @include respond (desktop){
          row-gap: 4rem;
     }
}

.grid3-footer {
     row-gap: 2rem!important;
    }
