.grid2{
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 4rem;
     

     @include respond(tab-land){
          grid-template-columns: repeat(2, 1fr);
          column-gap: 9rem;
     }
}

.grid3{
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 4rem;

     @include respond(tab-land){
          grid-template-columns: repeat(3, 1fr);
          column-gap: 6rem;
          row-gap: 10rem;
     }
}